<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fu.FuSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Fu.FuSettings>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="BasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThreadPoolMaxThreads" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ThreadPoolMinThreads" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SessionIdLength" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="CookiePath" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="CookieDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="SessionTimeout" serializeAs="String">
                <value>01:00:00</value>
            </setting>
            <setting name="ThreadPoolEnableManualConfiguration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThreadPoolMaxIOThreads" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ThreadPoolMinIOThreads" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ListenerThreads" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Encoding" serializeAs="String">
                <value>utf-8</value>
            </setting>
        </Fu.FuSettings>
    </userSettings>
</configuration>